* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

nav {
  padding: 20px 30px;
}

.nav-bar-display {
  display: flex;
  gap: 30px;
}

.nav-bar-display a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.background {
  padding: 100px 50px;
  text-align: center;
  background-image: url("Cairo_From_Tower_\(cropped\).jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  font-size: 3.5rem;
  letter-spacing: 6px;
  margin-bottom: 20px;
  color: aliceblue;
}
